<!DOCTYPE html>
<html lang="en">


<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
   

<!-- Vista parcial del header -->
<%- include('../partials/header.ejs') %>
    <br>
    <section class="vistas">
        <div class="columna_vistas">
            <img src="<%= article.img %>" alt="vista1">
            <img src="<%= article.img %>" alt="vista2">
            <img src="<%= article.img %>" alt="vista3">
        </div>
        <div class="vista_principal">
            <img src="<%= article.img %>" alt="Producto">
        </div>
    </section>
    <section class="info_compra">
        <div class="info_compra_header">
            <h2><%= article.title %></h2>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            
        </div>
        <br>
        <div class="info_pago">
            <div class="info_pago_izq">
                <form>
                    <select name="método_de_pago" id="">
                        <option name="método_de_pago" value="tarjeta_débito">Tarjeta de débito</option>
                        <option name="método_de_pago" value="tarjeta_crédito">Tarjeta de crédito</option>
                        <option name="método_de_pago" value="tarjeta_puntos">Tarjeta de puntos</option>
                        <option name="método_de_pago" value="tarjeta_PayPal">PayPal</option>
                    </select>
                    <br>
                    <br>
                    <Label for="cantidad">Cantidad de artículos</Label>
                    <input type="number" name="cantidad" id="cantidad"> <!--cambiar a un selector de números-->
                </form>
            </div>
            <div class="info_pago_der">
                <h1>$<%= article.price %> MXN</h1>
                <div class="botones">
                    <%if(locals.user && locals.user.profile == "user"){%>
                        <form action="/users/AnadirCarrito/<%= article.id%>" method="POST">
                        <button type="submit">Añadir al carrito</button>
                        </form>
                        <form action="/productos/Comprar" method="POST"></form>
                        <button type="submit">Comprar</button>
                        </form>
                    <%}else if(locals.user && locals.user.profile == "seller"){%>
                        <form action="/productos/borrar/<%= article.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btts" id="delete">ELIMINAR</button>
                            <a href="/productos/editar/<%= article.id%>">EDITAR</a>
                        </form>
                    <%}%>
                </div>
            </div>
        </div>
    </section>
    <h2 class="Subt_relacionados">Relacionados</h2>
    <section class="relacionados">
        <article>
            <img src="<%= category[0].img %>" alt="Producto">
            <h3><%= category[0].title %></h3>
            <h4>$<%= category[0].price %> MXN</h4>
        </article>
        <article>
            <img src="<%= category[1].img %>" alt="Producto">
            <h3><%= category[1].title %></h3>
            <h4>$<%= category[1].price %> MXN</h4>
        </article>
        <article>
            <img src="<%= category[2].img %>" alt="Producto">
            <h3><%= category[2].title %></h3>
            <h4>$<%= category[2].price %> MXN</h4>
        </article>
        <article>
            <img src="<%= category[3].img %>" alt="Producto">
            <h3><%= category[3].title %></h3>
            <h4>$<%= category[3].price %> MXN</h4>
        </article>
    </section>
    <br>
    <section class="descripción">
        <div class="desc_derecha">
            <h2 class="subt_detalles_del_producto">DETALLES DEL PRODUCTO</h2>
            <h4><%= article.detailedDescription %></h4>
        </div>
        
    </section>

    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>