<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <form id="crea-edit-product">
            <p id="pro-title">Editar Producto</p>
            <div class="name">
                <p>Nombre</p>
                <input name="name" id="name" placeholder="Nombre del producto" value="<%= product.name %>"">
            </div>
            <br>

            <div class="category">
                <p>Categoria</p>
                <% if(product.category == "TV"){%>
                    <input name="category" id="category" type="radio" value="TV" checked><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio"><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>
                <% }else if(product.category == "Audio") {%>
                    <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio" checked><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>
            
                <% }else if(product.category == "Cables") {%>
                    <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio"><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables" checked><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>
               
                <% }else if(product.category == "Herramientas"){ %>
                    <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio"><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta" checked><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>

                <% }else if(product.category == "Smartphones"){ %>
                    <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio"><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone" checked><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>
                <% }else if(product.category == "Tablet"){%>
                    <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio"><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet" checked><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora"><span>Computadora</span>
                <% }else if(product.category == "Computadora") {%>
                    <input name="category" id="category" type="radio" value="TV"><span>TV</span> <br>
                    <input name="category" id="category" type="radio" value="Audio"><span>Audio</span><br>
                    <input name="category" id="category" type="radio" value="Cables"><span>Cables</span><br>
                    <input name="category" id="category" type="radio" value="Herramienta"><span>Herramientas</span><br>
                    <input name="category" id="category" type="radio" value="Smartphone"><span>Smartphones</span><br>
                    <input name="category" id="category" type="radio" value="Tablet"><span>Tablet</span><br>
                    <input name="category" id="category" type="radio" value="Computadora" checked><span>Computadora</span>
                <% } %>
                
                
            </div>
            <br>

            <div class="description">
                <p>Detalles</p>
                <textarea placeholder="Características del producto" ><%= product.description%></textarea>
            </div>
            <br>

            <% if(product.hasOwnProperty('img')) {%>
                <p>Imagen Actual</p>
                <img src="<%= product.img %>" height="150px">

                <div class="pro-img">
                    <p>Cambiar Imagen</p>
                    <input type="file" accept=".jpg, .png, .PNG" value="c:\">
                </div>
            <% } else{ %>
                <div class="pro-img">
                    <p>Imagen</p>
                    <input type="file" accept=".jpg, .png, .PNG" value="c:\">
                </div>
            <% } %>
            
            <br>

            <div class="price">
                <p>Precio Unitario</p>
                <input type="number" min="0" value="<%= product.price %>"> <span>$ MXN</span>
            </div>
            <br>

            <div class="quantity">
                <p>Cantidad</p>
                <input type="number" min="1" value="<%= product.quantity %>">
            </div>

            <div class="btts">
                <input type="submit" value="Editar" id="submit">
                <input type="reset" value="Limpiar" id="clear">
            </div>

        </form>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>