<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main>
        <form id="crea-edit-product" action="/productos/editar/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <p id="pro-title">ID Producto: <%=product.id%></p>
            <% if(locals.unchanged) {%>
                <span style="left: 15px; color:red;margin-top: 10px;margin-bottom: 10px;"><%=locals.unchanged%></span>
            <%  } %>
            <div class="main">
                    <div class="name">
                        <p>Nombre</p>
                        <input name="title" id="title" placeholder="Nombre del producto" value="<%= product.title %>"">
                        <p id="arregloDeErrores"></p>
                        <% if(locals.errors && errors.title){ %>
                            <% console.log(errors) %>
                            <% console.log(old) %>
                            <div style="color:red"><%= errors.title.msg %></div>
                        <% } %>
                    </div>
                    
                    
                    
                    <div class="category">
                        <p>Categoria</p>
                    <select name="category" id="category">
                        <% categories.forEach(c =>{%>
                            <option value=<%=c.id%>  <%=product.category.id === c.id ? "selected": ""%> ><%= c.name %></option>
                        <% }) %>

                        <!-- OLD
                        <option value="tv" <%=product.category === "tv"? "selected": ""%>>Tv</option>
                        <option value="audio" <%=product.category === "audio"? "selected": ""%>>Audio</option>
                        <option value="cables" <%=product.category === "cables"? "selected": ""%>>Cables</option>
                        <option value="herramientas" <%=product.category === "herramientas"? "selected": ""%>>Herramienta</option>
                        <option value="smartphones" <%=product.category === "smartphones"? "selected": ""%>>Smartphone</option>
                        <option value="tablets" <%=product.category === "tablets"? "selected": ""%>>Tablet</option>
                        <option value="computadoras" <%=product.category === "computadoras"? "selected": ""%>>Laptop / PC</option>-->
                    </select>
                    <p id="arregloDeErrores"></p>
                        <% if(locals.errors && errors.category){ %>
                            <div style="color:red"><%= errors.category.msg %></div>
                        <% } %>
                    </div>
            </div>

            <div class="description">
                <p>Detalles</p>
                <textarea name="description" placeholder="Características del producto" id="description" ><%= product.description%></textarea>
                <p id="arregloDeErrores"></p>
                <% if(locals.errors && errors.description){ %>
                    <div style="color:red"><%= errors.description.msg %></div>
                <% } %>
            </div>
            



            <div class="main2">
                <div class="price">
                    <p>Precio Unitario</p>
                    <input type="number" name="price" id="price" tep='0.01'  value="<%= product.price  %>"> <span>$ MXN</span>
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.price){ %>
                        <div style="color:red"><%= errors.price.msg %></div>
                    <% } %>
                </div>
                
    
                <div class="discount">
                    <p>Descuento</p>
                    <input type="number" id="discount" min="0" name="discount" max="100" value="<%= product.discount || 0 %>"> <span>%</span>
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.discount){ %>
                        <div style="color:red"><%= errors.discount.msg %></div>
                    <% } %>
                </div>
                
    
                <div class="quantity">
                    <p>Cantidad</p>
                    <input type="number" id="stock" min="1" name="stock" value="<%= product.stock %>">
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.stock){ %>
                        <div style="color:red"><%= errors.stock.msg %></div>
                    <% } %>
                </div>
                
            </div>
            
                <% if(product.hasOwnProperty('img')) {%>
                    <div>
                        <p>Imagen Actual</p>
                    <img src="<%= product.img %>" height="150px">
    
                    <div class="pro-img">
                        <p>Cambiar Imagen</p>
                        <input name="img" id="img" type="file" accept=".jpg, .png, .PNG" >
                    </div>
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.img){ %>
                        <div style="color:red"><%= errors.img.msg %></div>
                    <% } %>

                    </div>
                    
                <% } else{ %>
                    <div class="pro-img">
                        <p>Imagen</p>
                        <input name="img" id="img" type="file" accept=".jpg, .png, .PNG" >
                    </div>
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.img){ %>
                        <div style="color:red"><%= errors.img.msg %></div>
                    <% } %>
                <% } %>
    
                <div class="btts">
                    <input type="submit" value="Editar" id="submit">
                    <input type="reset" value="Limpiar" id="clear">
                </div>
        </form>
        
    </main>

    <%- include("../partials/footer") %>
    <script src="/js/crear.js"></script>
</body>
</html>