<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <!-- Mostrar listado de productos -->
    <main>
        <section id="options-header">
            <div>
                <a href="/productos/all">Mostar Todos</a>
            </div>
        </section>

        <section id="products-section">
            <div id="products-header-topic">
                <% if(options == "all"){%>
                    <span class="category">Todos los productos.</span> <span class="results"><%= productos.length%> Resultado(s)</span>
                <% }else if(options=="offerts") {%> 
                    <span class="category">Productos > Ofertas </span> <span class="results"><%= productos.length%> Resultado(s)</span>
                <% }else{%>
                    <span class="category">Productos > Categoría > <%=  options.charAt(0).toUpperCase() + options.slice(1).toLowerCase() %> </span> <span class="results"><%= productos.length%> Resultado(s)</span>
                <% } %>
            </div>
            <br>
            <br>
            <% productos.forEach(product => { %>
                <div class="product-conteiner">
                    <a href="/productos/detalles/<%= product.id %>">
                    <!-- Imagen -->
                    <img src="<%= product.img %>">
                    <!-- Vendidos -->
                    <p class="products-sold">
                        <%= product.sold %> Vendidos
                    </p>
                    <!--Titulo-->
                    <% if( product.title.length > 50 ){%>
                        <p class="title"><%= product.title.substring(0, 50) %>..</p>
                    <% }else{%>
                        <p class="title"><%= product.title %></p>
                    <% } %>
                    
                    <!-- Descripcion -->
                    <% if( product.description.length > 80 ){%>
                        <p class="description"><%= product.description.substring(0, 80) %>..</p>
                    <%}else{%>
                        <p class="description"><%= product.description %></p>
                    <% }%>
                    
                    <!--Descuento-->
                    <% if(product.discount > 0){%>
                        <p class="discount"> -<%= product.discount %>% OFF</p>
                    <% } %>
                    <!--Calculo de precio fial dependiendo del descuento-->
                    <% if(product.discount > 0){%>
                        <p class="price">
                            <span class="old-price">$<%= product.price %></span> <span class="final-price">$<%= product.final_price %></span>  
                        </p>
                    <% }else{%>
                        <p class="price">
                            <span class="final-price">$<%= product.price %></span> 
                        </p>
                        
                    <% } %>
                </a>
                </div>
            <% }) %>
        </section>
    </main>
    <br>
     <!-- Vista parcial del footer -->
     <%- include('../partials/footer.ejs') %>
</body>
</html>