<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <!-- Mostrar listado de productos -->
    <main>
        <section id="options-header">
            <div>
                <%if(!locals.isLogged || locals.isLogged && locals.user.user_role === "user"){%>
                    <a href="/productos/all">Mostar Todos</a>
                <%}%>
            </div>
        </section>

        <section id="products-section">
            <section id="products-header-topic">
                <% if(options == "all"){%>
                    <span class="category">Todos los productos.</span> <span class="results"> Total de Resultado(s): <%= paggination.totalProducts %></span>
                <% }else if(options=="offerts") {%> 
                    <span class="category">Productos > Ofertas </span> <span class="results"> Total de Resultado(s): <%= paggination.totalProducts %></span>
                <% }else if(options=="search") {%> 
                        <span class="category">Resultados de la búsqueda <strong style="font-size: 1rem; color: gray">"<%= search_value %>"</strong> </span> <span class="results"> Total de Resultado(s): <%= paggination.totalProducts %></span>
                <% }else if(options=="myProducts") {%> 
                    <span class="category"><span style="font-size: 28px;font-weight: bold;">Mis productos</span> <strong> <span class="results"> Total de Resultado(s): <%= paggination.totalProducts %></span>
                <% }else{%>
                    <span class="category">Productos > Categoría > <%=  options.charAt(0).toUpperCase() + options.slice(1).toLowerCase() %> </span> <span class="results"> Total de Resultado(s): <%= paggination.totalProducts %></span>
                <% } %>
                </section>
            <br>
            
            <!-- Paginacion -->
        <section class="paggination">
            <div class="title">
                Página <strong><%= paggination.actualPage %></strong> de <strong><%= paggination.totalPages %></strong> <span>(<%=paggination.step%>)resultados por página</span>
            </div>
            <% if(options === "search"){%>
                <a href="/productos<%= paggination.path %>?search=<%=search_value%>&min=<%=  paggination.min - paggination.step%>&page=<%=  paggination.actualPage - 1%>"><input <%= (paggination.min - paggination.step) < 0 ? "disabled":"" %>  type="submit" name="min" value="Anterior" /></a>
       
                <a href="/productos<%= paggination.path %>?search=<%=search_value%>&min=<%= paggination.min + paggination.step%>&page=<%=  paggination.actualPage + 1%>"><input <%= (paggination.min + paggination.step - 1) < (paggination.totalProducts) ? "": "disabled" %> type="submit" name="min" value="Siguiente" /></a>
            <%}else{%>
                <a href="/productos<%= paggination.path %>?min=<%=  paggination.min - paggination.step%>&page=<%=  paggination.actualPage - 1%>"><input <%= (paggination.min - paggination.step) < 0 ? "disabled":"" %>  type="submit" name="min" value="Anterior" /></a>
       
                <a href="/productos<%= paggination.path %>?min=<%= paggination.min + paggination.step%>&page=<%=  paggination.actualPage + 1%>"><input <%= (paggination.min + paggination.step - 1) < (paggination.totalProducts) ? "": "disabled" %> type="submit" name="min" value="Siguiente" /></a>
            <%}%>
        </section>

            <br>
            <br>

            <section class="all-products">
                <% productos.forEach(product => { %>
                    <article class="product-conteiner">
                        <a href="/productos/detalles/<%= product.id %>">
                        <!-- Imagen -->
                        <img src="<%= product.img %>" alt="<%= product.title %>">
                        <!-- Vendidos -->
                        <p class="products-sold">
                            <%= product.sold_units %> Vendidos
                        </p>
                        <!--Titulo-->
                        <% if( product.title.length > 50 ){%>
                            <p class="title"><%= product.title.substring(0, 50) %>..</p>
                        <% }else{%>
                            <p class="title"><%= product.title %></p>
                        <% } %>
                        
                        <!-- Descripcion -->
                        <% if( product.description.length > 80 ){%>
                            <p class="description"><%= product.description.substring(0, 80) %>..</p>
                        <%}else{%>
                            <p class="description"><%= product.description %></p>
                        <% }%>
                        <%if(locals.isLogged && locals.user.user_role === "seller" && product.seller_id == locals.user.id){%>
                            <span class="mine-list">
                                Su producto
                            </span>
                        <%}%>
                        
                        <!--Descuento-->
                        <% if(product.discount > 0){%>
                            <p class="discount"> -<%= product.discount %>% OFF</p>
                        <% } %>

                        
                        <!--Calculo de precio fial dependiendo del descuento-->
                        <% if(product.discount > 0){%>
                            <p class="price">
                                <% if(product.price ) {%>
                                    <span class="old-price">$<%= toThousand(product.price)%></span> <span class="final-price">$<%=toThousand((product.price - (product.price*product.discount/100))) %></span>  
                                <% } %>
                               
                            </p>
                        <% }else{%>
                            <p class="price">
                                <% if(product.price) {%>
                                    <span class="final-price">$<%= toThousand(product.price) %></span> 
                                <% } %>
                            </p>
                        <% } %>
                    </a>
                </article>
                <% }) %>
            </section>
            
        </section>
        
    </main>
    <br>
     <!-- Vista parcial del footer -->
     <%- include('../partials/footer.ejs') %>
</body>
</html>