<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('./partials/head.ejs') %>
<body>
   <!-- Vista parcial del header -->
    <%- include('./partials/header.ejs') %>
    <br>
    <br>

    <!-- Contenido principal -->
    <main class="flexCarrito">
        
        <section class="tituloCarrito">
            <p>TU CARRO DE LA COMPRA</p>
            
        </section>

        <section class="producto-carrito">
            <%cart_products.forEach(cp=>{%>
                <article class="cart-conteiner">
                    <img src="<%=cp.product.img%>" width="200px" height="150px">
                    <span class="product-title"><%=cp.product.title%></span>
                    <span class="product-price">Precio $<%=cp.product.discount > 0?((cp.product.price - (cp.product.price*cp.product.discount/100)) * cp.product_quantity):cp.product.price*cp.product_quantity%></span>
                    <span type="number" min="1" max="<%=cp.product.stock%>"  id="product-quantity">Cantidad: <%=cp.product_quantity%> </span>
                </article>
               <hr>

            <%})%>  
        </section>

        <section class="comprarCarrito">
            
            <div>
                <form action="">
                    <label for="opciones">Método de pago</label>
                    <br>
                    <select name="opciones" >
                
                        <option value="1">Opción 1</option>
                        <option value="2">Opción 2</option>
                        <option value="3">Opción 3</option>
                    </select>
                </form>
            </div>
            <br>
            <br><br>
            <div>
                <span style="font-weight: bold; margin-left: 25px;margin-right: 25px;">TOTAL A PAGAR: $<%=total%></span>
            </div>
<br>
            <div >
                <button class="eliminar" onclick="deleteCart()">ELIMINAR TODO EL CARRITO</button>
            </div>

            <div>
                <button class="comprar" onclick="buy('<%=total%>')">COMPRAR</button>
            </div>
        </section>

    </main>
    <br>

     <!-- Vista parcial del footer -->
     <%- include('./partials/footer.ejs') %>
</body>
<script>
function deleteCart(){
    console.log("Quiero eliminar mi carrito")
    fetch("/users/borrar-carrito",{
        method: "DELETE"
    })
    .then(function(res){
        if(res.status==200){
            alert("Carrito eliminado con éxito!!")
            location.reload()
        } else {
            console.log("Algo salio mal "+res.status)
        }
    })
    .catch(function(e){
        console.log(e)
    })
}

function buy(total){
    let ok = confirm("¿Estas seguro de compar todos los productos?\nTotal: $"+total)
    console.log("SIP")
    if (ok){
        fetch("/users/buy-cart")
        .then(function(res){
            location.reload()
        })
    .catch(function(e){
        console.log(e)
    })
    }
   
}
</script>
</html>