<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- Vista parcial del header -->
    <%- include('./partials/header.ejs') %>

    <br>
    <br>
    <!-- Contenido principal -->
    <main>
        <br>
        <h2>Ofertas</h2>
        <section id="section-offers">
            <% offerts.forEach(offert =>{ %>
                <article class="content-offers">
                    <!-- Redirecionamiento  -->
                    <a href="/productos/detalles/<%= offert.id %>">
                        <img src="<%= offert.img %>" alt="<%= offert.title %>">
                    <!--Nombre del producto (acotado si es muy largo)-->
                    <% if(offert.title.length > 17){%>
                        <span class="title">
                            <%= offert.title.substring(0, 17) %>..
                        </span>
                    <% }else{%>
                        <span class="title">
                            <%= offert.title %>
                        </span>
                    <%  } %>
                    <!-- Descuento -->
                    <div class="discount">
                        -<%= offert.discount %>% OFF
                    </div>
                    <!-- Precio original y final-->
                    <div class="price">
                        <% if(offert.price && offert.final_price) {%>
                            <span class="old-price">$<%= toThousand(offert.price) %></span><span class="new-price">$<%= toThousand(offert.final_price) %></span>
                        <% } %>
                    </div>
                </a>
            </article>
            <% }) %>

            <article class="content-offers" id="more-offers">
                <a href="/productos/offerts">
                    <div>
                        <span id="see-more-offers"><span id="underline">Ver Más</span> Ofertas</span>
                    </div>
                </a>
            </article>

        </section>
        <br>
        <!-- Lo más productos más vendidos -->
        <h2>Lo más vendido</h2>
        <section id="section-products">

            <% mostSales.forEach(sale => { %>
                <article class="content-product">
                    <!-- Redirecionamiento  -->
                    <a href="/productos/detalles/<%= sale.id %>">
                        <img src="<%= sale.img %>" alt="<%= sale.title %>">
                    <!--Nombre del producto (acotado si es muy largo)-->
                    <% if(sale.title.length > 17){%>
                        <div class="title">
                            <%= sale.title.substring(0, 17) %>..
                        </div>
                    <% }else{%>
                        <div class="title">
                            <%= sale.title %>
                        </div>
                    <%  } %>
                    <!-- Vendidos -->
                    <div class="sales">
                        <%= sale.sold %>
                    </div> <apan class="vendidos">Vendidos</apan>
                    <!-- Precio-->
                    <div class="price">
                        <% if(sale.price){%>
                            <span class="new-price">$<%= toThousand(sale.price) %></span>
                        <% } %>
                    </div>
                </a>
                </article>
            <% }) %>
            <br>

            
            <article class="content-product" id="more-products">
                <a href="/productos/all">
                    <div>
                        <span id="see-more-offers"><span id="underline">Ver Más</span>  Productos</span>
                    </div>
                </a>
            </article>
           

        </section>
    </main>
    <br>
     <!-- Vista parcial del footer -->
     <%- include('./partials/footer.ejs') %>
</body>
</html>