<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('./partials/head.ejs') %>
<body>
    
    <!-- Vista parcial del header -->
    <%- include('./partials/header.ejs') %>

    <br>
    <br>
    <!-- Contenido principal -->
    <main>
        <section id="options-header">
            <div>
                <a href="/productos/all">Productos disponibles</a>
            </div>
        </section>
        <br>
        <h2>Ofertas</h2>
        <section id="section-offers">
            <% offerts.forEach(offert =>{ %>
                <article class="content-offers">
                    <div class="offer-img">
                        <img src="<%= offert.img %>">
                    </div>
                    
                    <div class="offer-details">
                    <h3><%= offert.product_title%></h3>
                    <p class="descount">-<%= offert.offert %> % </p>
                    </div>
                </article>
            <% }) %>
            <div class="offers-see-more">
                <div>Ver M치s Ofertas</div>
            </div>
        </section>
        <br>
        <!-- Lo m치s productos m치s vendidos -->
        <h2>Lo m치s vendido</h2>
        <section id="section-products">

            <% mostSales.forEach(sale => { %>
                <article class="content-product">
                    <div class="product-img">
                        <img src="<%= sale.img %>">
                    </div>
    
                    <div class="product-details">
                        <h3><%= sale.name %></h3>
                        <p><%= sale.price  %></p>
                    </div>
                </article>
            <% }) %>
        </section>
    </main>
    <br>
     <!-- Vista parcial del footer -->
     <%- include('./partials/footer.ejs') %>
</body>
</html>