<!DOCTYPE html>
<html lang="en">


<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <main id="register-main">
                                                            <!-- enctype="multipart/form-data" -->
        <form id="register-form" action="/users/changePassword?_method=PUT" method="POST">
            <p id="form-title">Cambiar contrase単a</p>

            <div class="main">
                <div class="password">
                    <p>Contrase単a</p>
                     <div class="input-pass">
                         <input type="password" id="password1" name="password" placeholder="Contrase単a">
                     </div>
                     <p id="arregloDeErrores"></p>
                     <% if(locals.errors && errors.password){ %>
                        <div style="color:red"><%= errors.password.msg %></div>
                    <% } %>
                 </div>

                 <div class="password">
                    <p>Confirma</p>
                     <div class="input-pass">
                         <input type="password" id="password2" name="password2" placeholder="Repite la contrase単a">
                     </div>
                     <p id="arregloDeErrores"></p>
                     <% if(locals.errors && errors.password2){ %>
                        <div style="color:red"><%= errors.password2.msg %></div>
                    <% } %>
                
                 </div>
            </div>
            <%if(locals.error){%>
                <p class="errors"><%=locals.error%></p>
            <%}%>

             <div class="btts">
                <input type="submit" value="Enviar" id="submit">
                <input type="reset" value="Borrar" id="clear">
           </div>
           <br>
        </form>
    </main>

    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- Script para validar datos del registro desde el front-end -->
    <script src="/js/ChangePassword.js"></script>
</body>
</html>