<!DOCTYPE html>
<html lang="en">


<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <main id="register-main">
                                                            <!-- enctype="multipart/form-data" -->
        <form id="register-form" action="/users/modify?_method=PUT" method="POST" enctype="multipart/form-data">
            <p id="form-title">Editar perfil</p>

            <div class="main">

                <div class="first-name">
                    <p>Nombre</p>
                    <input type="text" id="name" name="name" placeholder="Nombre(s)"
                    value = '<%= locals.user.first_name%>'>
                    <!-- <%= locals.old ? old.nameF : null %> -->
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.nameF){ %>
                        <% console.log(errors) %>
                        <% console.log(old) %>
                        <div style="color:red"><%= errors.nameF.msg %></div>
                    <% } %>
                </div>
                
                <div class="last-name-pat">
                    <p>Apellido</p>
                    <input type="text" id="apellido" name="apellido" placeholder="Apellido"
                    value = '<%= locals.user.last_name%>'>
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.apellido){ %>
                        <div style="color:red"><%= errors.apellido.msg %></div>
                    <% } %>
                </div>

                <div class="age">
                    <p>Fecha de nacimiento</p>
                    <!-- <input type="number" id="age" name="edad" placeholder="Tu edad"> -->
                    <input type="date" name="release_date" id="date">
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.release_date){ %>
                        <div style="color:red"><%= errors.release_date.msg %></div>
                    <% } %>
                </div>
            </div>


            </div>

            <div class="main2">

                <div class="profile">
                    <p>Tipo de cuenta</p>
                    <select name="profile" id="profile">
                        <option disabled selected>Selecciona un perfil</option>
                        <option value="user" name="user" <%= locals.old && ("user" == old.profile) ? 'selected' : null %> > Usuario </option>
                        <option value="seller" name="seller" <%= locals.old && ('seller' == old.profile) ? 'selected' : null %> >Vendedor</option>
                    </select>
                    <p id="arregloDeErrores"></p>
                    <% if(locals.errors && errors.profile){ %>
                        <div style="color:red"><%= errors.profile.msg %></div>
                    <% } %>
                </div>
            </div>

            <div class="profile-photo">
                <p>Foto de perfil</p>
            <!-- <input type="file" placeholder="Selecciona una foto" name="img" accept=".jpg, .png, .PNG">  -->
                <input type="file" id="fotoPerfil" placeholder="Selecciona una foto" name="img" value='<%= locals.user.profile_img%>'>
                <p id="arregloDeErrores"></p>
                <% if(locals.errors && errors.img){ %>
                    <div style="color:red"><%= errors.img.msg %></div>
                <% } %>
            </div>

             <div class="btts">
                <input type="submit" value="Enviar" id="submit">
                <input type="reset" value="Borrar" id="clear">
           </div>
        </form>
    </main>

    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/editProfile.js"></script>
</body>
</html>