<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head-->
<%- include('../partials/head.ejs') %>


<body>
   
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>


    <main>
        
        <form id="login-form" action="/users/login" method="POST">
            <p id="form-title">Inicia sesión o <a href="/users/signup">Crea Cuenta</a></p>
            
            <div class="email">
                <p>Email</p>
                <input type="email" id="email" name="email" placeholder="Ingresa tu correo electrónico" value='<%= locals.old ? old.email : null %>' required>
                <p class='errors' id="arregloDeErrores"></p>
            </div>
            
            <div class="password">
                <p>Contraseña</p>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <br>

            <%if(error){%>
                <p class="errors"><%=error%></p>
            <%}%>

            <!--mensaje de error en caso de haber ingresado mal el correo o la contraseña-->
            <%if(locals.error){%>
                <p class="errors">Correo o contraseña incorrectos</p>
            <% } %>
            <!--mensaje de error del front end en caso de haber ingresado un formato de correo inválido-->
            <!--mensaje de error del back end en caso de haber ingresado un formato de correo inválido-->
            <%if(locals.errors && errors.email){ %>
                <div style="color:red"><%= errors.email.msg %></div>
            <% } %>
            
        

            <div class="remember">
                <input type="checkbox" name="remember" id="remember"> Recordarme
            </div>
    
             <div class="btts">
                <input type="submit" value="Ingresar" id="Ingresar">
           </div>
           
           <p id="text-o">Ó</p>
      
           <div class="bttn-google">
            <button id="btt-g"><i class="fab fa-google"></i> Ingresa con google</button>
           </div>
  </div>
            
    
        </form>
    </main>
    
    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- Script para validar datos del login desde el front-end -->
    <script src="/js/login.js"></script>
</body>
</html>