<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Vista parcial del head -->
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <!--Perfil de usuario-->
    <main class='profile_container'>
        <img src="<%= locals.user.user_info.profile_image %>" alt="imágen de usuario" class='profile_img'>
        <section class='profile_info'>
            <p>Hola <%= locals.user.user_info.first_name%> <%= locals.user.user_info.last_name%>! </p>
        </section>
        
    </main>

    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>