<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Vista parcial del head -->
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <%if(locals.isLogged && locals.isLogged==true){%>
    <!--Perfil de usuario-->
    <main class='profile_container'>
        <img src="<%=locals.user.profile_img%>" alt="imágen de usuario" class='profile_img'>
        <section class='profile_info'>
            <p>Hola <%= locals.user.first_name%> <%= locals.user.last_name%>! </p>
            <br>
            <br>
            <p><%= locals.user.email%></p>
        </section>
        <article id='profile-buttons'>
            <div><a style="text-decoration: none;" href="/users/edit">Editar perfil</a></div>
            <div><a style="text-decoration: none;" href="/users/changePasswordForm">Cambiar contraseña</a></div>
            <div id="delete"><a style="text-decoration: none;" href="/users/delete">Borrar perfil</a></div>
        </article>
        
    </main>
    <%if(locals.isLogged && locals.user.user_role === "user"){%>
    <section class="ticket-purchases-list">
        <h2 class="purchases-title" style="margin-bottom: 40px;">Mis compras</h2>
        <%tickets.forEach(ticket =>{%>
            <a href="/users/ticket/<%=ticket.id%>">
                <div class="user-ticket-conteiner">
                    <p><strong>Fecha: </strong> <%=ticket.purchase_date%></p>
                    <p><strong>Precio total: </strong> <%=ticket.total_price%></p>
                    <p><strong>Cantidad de productos: </strong> <%=ticket.ticket_purchases.length%></p>
                </div>
            </a>
           
            <hr>
        <%})%>
    </section>
    <%}%>
    <%}%>


    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>