<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Vista parcial del head -->
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <%if(locals.isLogged && locals.isLogged==true){%>
    <!--Perfil de usuario-->
    <main class='profile_container'>
        <img src="<%=locals.user.profile_img%>" alt="imágen de usuario" class='profile_img'>
        <section class='profile_info'>
            <p>Hola <%= locals.user.first_name%> <%= locals.user.last_name%>! </p>
        </section>
        
        
        <div><a href="/users/edit">Editar perfil</a></div>
        <div class="delete"><a href="/users/delete">borrar perfil</a></div>
            
       
        
    </main>
    <%}%>

    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>