<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Vista parcial del head -->
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <%if(locals.isLogged && locals.isLogged==true){%>
    <!--Perfil de usuario-->
    <main class='profile_container'>
        <img src="<%=locals.user.profile_img%>" alt="imágen de usuario" class='profile_img'>
        <section class='profile_info'>
            <p>Hola <%= locals.user.first_name%> <%= locals.user.last_name%>! </p>
            <br>
            <br>
            <p><%= locals.user.email%></p>
        </section>
        
        
        <div><a href="/users/edit">Editar perfil</a></div>
        <div class="delete"><a href="/users/delete">borrar perfil</a></div>


       
    </main>
    <section class="ticket-purchases">
        <%tickets.forEach(ticket =>{%>
            <div class="user-ticket-conteiner">
                <p><strong>Fecha: </strong> <%=ticket.purchase_date%></p>
                <p><strong>Precio total: </strong> <%=ticket.total_price%></p>
                <p><strong>Cantidad de productos: </strong> <%=ticket.ticket_purchases.length%></p>
            </div>
            <hr>
        <%})%>
    </section>
    <%}%>

    <!-- Vista parcial del footer -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>