<!DOCTYPE html>
<html lang="en">

<!-- Vista parcial del head -->
<%- include('../partials/head.ejs') %>
<body>
    
    <!-- Vista parcial del header -->
    <%- include('../partials/header.ejs') %>

    <!-- Mostrar listado de productos -->
    <main>
      
            <section class="all-tickets">
                <div>
                    <h1>Mis Ventas</h1>
                </div>
                <% tickets.forEach(ticket => { %>
                <article class="ticket-seller-conteiner">
                    
                        
                        <p class="ticket-title">Detalles</p>
                        <div class="ticket-des">
                            <p><span class="sub-title">Cliente: </span><span class="answer"><%=ticket.ticket.ticket_user.user_info.first_name%>  <%=ticket.ticket.ticket_user.user_info.last_name%> (<%=ticket.ticket.ticket_user.email%>)</span> </p>
                            <p ></p><span class="sub-title">Fecha compra: </span><span class="answer"><%=ticket.ticket.purchase_date%></span></p> 
                            <p ><span class="sub-title">Total: </span><span class="answer">$<%=ticket.individual_price%> MXN</span></p>
                             <p ><span class="sub-title">Cantidad de productos: </span><span class="answer"><%=ticket.product_quantity%></span></p>
                        </div>
                        <p class="ticket-title">Producto</p>
                        <%if(ticket.product.active == 0){%>
                            <p> Producto eliminado.....</p>
                        <%}else{%>
                            <a href="/productos/detalles/<%= ticket.product.id %>">
                        <div class="seller-product-description">
                            <img src="<%=ticket.product.img%>" alt="" id="seller-p-img"> <span class="p-title"><%=ticket.product.title%></span>
                        </div>
                        </a>
                        <%}%>
                    <hr>
                </article>
                <% }) %>
            </section>
            
        </section>
        
    </main>
    <br>
     <!-- Vista parcial del footer -->
     <%- include('../partials/footer.ejs') %>
</body>
</html>